<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>{{ title }}</title>
</head>
<body class="l-main">
    {% include "nav.njk" %}

    <main class="l-main__main">
        {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
    </script>
</body>
</html>