<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <title>{{ title }}</title>
</head>
<body class="l-main">
    {% include "nav.njk" %}

    <main class="l-main__main">
        {{ content | safe }}
    </main>

    {% include "footer.njk" %}
</body>
</html>