.l-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 21px;
}

.l-main__nav,
.l-main__main,
.l-main__footer {
    width: 670px;
    max-width: 100%;
}

.l-main__main {
    flex-grow: 2;
}